
<md-content flex id="content" layout='column' ng-controller='asyncFacController'>
<div layout="row" layout-margin layout-wrap layout-align="center center">     
  <md-card flex="25" ng-repeat='facInfo in factoryData track by $index'>
    <md-card-title>
    <md-card-title-text>
        <span > <md-content ng-click="showDetails = ! showDetails" class="md-headline"><u style="color:#1a75ff"><h4 style="color:#1a75ff">{{facInfo.name}}</h4></u></md-content></span>
      </md-card-title-text>
      <md-card-actions layout="row" layout-align="end center">
       <md-button class = "md-raised" ng-click="factoryModal($event, facInfo)">Edit</md-button>
       <md-button class = "md-raised" ng-click="deleteFactory($event, facInfo)">Delete</md-button>
     </md-card-actions>

    </md-card-title>
    <md-card-content>
      <md-list-item class="md-2-line" >
        <div ng-show="showDetails" class="md-list-item-text" layout="column">
         <p  ng-repeat="child in facInfo.children track by $index"> {{child}}</p>   
        </div>
        <md-card-content layout="row" layout-align="end center">
        <br><br>
          [{{facInfo.lower_bound}} : {{facInfo.upper_bound}}]
      </md-list-item>
    </md-card-content>     
  </md-card>
  </div> 
  </md-list-item>
</md-content>
