<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Passport Inc Demo App</title>
    <link href="./bower_components/angular-material/angular-material.css" rel="stylesheet" />   
  </head>
  <body ng-app='starterApp' layout='column' ng-controller='AppCtrl'>
    <script src="./bower_components/angular/angular.js" type="text/javascript" ></script>
    <script src="/socket.io/socket.io.js" type="text/javascript"></script>
    <script src="./bower_components/angular-route/angular-route.js" type="text/javascript" ></script>
    <script src="./bower_components/angular-messages/angular-messages.js" type="text/javascript" ></script>
    <script src="./bower_components/angular-animate/angular-animate.js" type="text/javascript" ></script>
    <script src="./bower_components/angular-aria/angular-aria.js" type="text/javascript" ></script>
    <script src="./bower_components/angular-material/angular-material.js" type="text/javascript" ></script>
    <script src="./js/app.js"></script>
    <md-toolbar layout="row" flex="1">
      <md-menu-bar layout-align="center center"> <b>></b>
                  
            <md-button class="md-primary md-raised" ng-click="factoryModal($event, {})"> 
             <b> Create  Factory </b>
            </md-button>
            
            
      </md-menu-bar>
    </md-toolbar>
  <div flex layout="column" layout-align="center" ng-view>
  </div>

<script type="text/ng-template" id="cuFac.tmpl.html"><md-dialog aria-label="Create (Factory)">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Create/Update Factory</h2>
        <span flex></span>
      </div>
    </md-toolbar>
    </form>
    <md-dialog-content>
      <div class="md-dialog-content">

      <form name="projectForm">
      <md-input-container class="md-block">
        <label>Factory Name</label>
        <input md-maxlength="70" required name="name" ng-model="formData.name">
        <div ng-messages="projectForm.name.$error">
          <div ng-message="required">This is required.</div>
          <div ng-message="md-maxlength">The name has to be less than 70 characters long.</div>          
        </div>
      </md-input-container>
      <md-input-container class="md-block">
        <label>Lower Bound</label>
        <input type ="number" required name="lowerBound" ng-model="formData.lower_bound" min = 1 max = 9999999/>
        <div ng-messages="projectForm.lowerBound.$error">
          <div ng-message="required">This is required.</div>
        </div>
      </md-input-container>
      <md-input-container class="md-block">
        <label>Upper Bound</label>
        <input type ="number"  required name="upperBound" ng-model="formData.upper_bound" min = "{{formData.lower_bound}}" max = 9999999/>
        <div ng-messages="projectForm.upperBound.$error">
          <div ng-message="required">This is required.</div>
        </div>
      </md-input-container>
      <md-input-container class="md-block">
       <!-- <label>ID</label> -->
        <input type = "hidden" required name="id" ng-model="formData.id" ng-readonly="true"/>
        <div ng-messages="projectForm.id.$error" role="alert">
          <div ng-message="required">This is required.</div>
        </div>
      </md-input-container>
      <md-input-container class="md-block">
        <label>Num Child</label>
        <input type ="number" ngMin=0 ngMax=15 required name="childrenCount" ng-model="formData.number_of_children" min=0 max=15/>       
        <div ng-messages="projectForm.childrenCount.$error" >
          <div ng-message="required">This is required.</div>          
        </div>       
      </md-input-container>
    </form>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <md-button  ng-click="createFactory($event)" ng-disabled="isUpdate || projectForm.name.$invalid || projectForm.upperBound.$invalid || projectForm.childrenCount.$invalid || projectForm.lowerBound.$invalid || projectForm.lowerBound < projectForm.upperBound"> 
       Create
      </md-button>
      <md-button ng-click="updateFactory($event)" ng-disabled="!isUpdate || projectForm.name.$invalid || projectForm.upperBound.$invalid || projectForm.childrenCount.$invalid || projectForm.lowerBound.$invalid">
       Update
      </md-button>      
      <md-button ng-click="close_modal($event)">
        Cancel
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
</script>
</body>
</html>
